/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */

.author-slide { padding:15px 30px; background: #fbed6a; width: 900px; }
#header-right #tagline {
    background: none scroll 0 0;
    padding: 15px 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Antartida-Light, sans-serif !important;
}
